* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-family: 'Calibri'
}

body {
  text-align: center;
  place-items: center;
  background: #84A98C;
}

h1, p {
  color: #cad2c5;
  margin-top: 10px;
  font-weight: bold;
}

input {
  margin: 10px;
}

.strength-indicators {
  display: flex;
  justify-content: center;
}
  
.indicator {
  display: grid;
  width: 30px;
  height: 10px;
  margin-right: 5px;
  border: 1px solid;
  border-color: black;
}

.container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background: #2F3E46;
  padding: 40px;
  width: 450px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.864);
}